@import "fonts/stylesheet.css";

#recipiente{
	background-image: linear-gradient(to bottom, #f6f1b2, #4599b2);
	margin: 0 auto;
	width: 800px;
	position: relative;
}

#texto-cardapio{
	text-transform: rotate(270deg);
}
#subtitulo{
	font-family: "Trebuchet MS";
	font-size: 24px;
	color: #333;
	margin-left: 50px;
}

#cardapio{
	border: solid 1px #aac0ae;
	margin-left: 154px;
	font-family: Verdana;
	font-size: 14px;
	color: #333;
	float: right;
}

#ticket{
	position: fixed;
	left: -70px;
	top: 295px;
}

#ticket:hover{
	position: fixed;
	left: 0px;
	top: 295px;
}

#rodape{
	
}
#siri{
	position: absolute;
	left: -10px;
	top:4px;
	
}
h1{
	font-family: Ravie;
	font-size: 36px;
	color: #e90c0c;
	margin-left: 170px;
}

h3{
	font-size: 18px;
	font-style: bold;
}